In [2]:
%matplotlib inline

In [3]:
import sqlite3 as sql

In [4]:
connect = sql.connect('test.db')

# Creating a table

In [5]:
connect

In [6]:
connect = sql.connect('test.db')
print ('database connected sucessfully')

database connected sucessfully

In [10]:
# To create a table we use the execute method followed by the command create table table-name inside ther
connect.execute('''CREATE TABLE MOVIERECOMMENDATION
                    (ID INT PRIMARY KEY NOT NULL,
                    NAME TEXT NOT NULL,
                    MOVIENAME TEXT NOT NULL,
                    GENRE TEXT NOT NULL,
                    RATING TEXT NOT NULL,
                    DATERELEASED TEXT NOT NULL
                    )''')

print("Table successfully created")

OperationalError: table MOVIERECOMMENDATION already exists

In [12]:
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                 VALUES(1, 'Toliat', 'Anikulapo', 'Drama', 3, '02/09/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(2, 'Moyato', 'Gone girl', 'Thriller', 4, '02/09/2021')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(3, 'Elijah', 'Thor','Action', 4, '02/06/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(4, 'Paul', 'The lost city', 'Comedy', 4, '02/09/2020')");
connect.commit()
print('values inserted into movie recommendation table')
#connect.close()

values inserted into movie recommendation table

# SELECT OPERATION

In [31]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETALLVALUES = connect.execute("SELECT ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED FROM MOVIERECOMMENDATION")

In [32]:
GETALLVALUES.fetchall()

[(5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (1, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (2, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (3, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (4, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

In [33]:
GETALLVALUES

In [34]:
# for val in GETALLVALUES.fetchall():
#     print(val)

In [35]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETRATINGSGREATERTHANTHREE = connect.execute("SELECT MOVIENAME, GENRE, DATERELEASED FROM MOVIERECOMMENDATION")

In [36]:
GETRATINGSGREATERTHANTHREE.fetchall()

[('Anikulapo', 'Drama', '02/09/2022'),
 ('Anikulapo', 'Drama', '02/09/2022'),
 ('Gone girl', 'Thriller', '02/09/2021'),
 ('Thor', 'Action', '02/06/2022'),
 ('The lost city', 'Comedy', '02/09/2020')]

In [39]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETPAUL =connect.execute("SELECT * FROM MOVIERECOMMENDATION WHERE NAME = 'Paul'")

In [40]:
GETPAUL.fetchall()

[(4, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

# Update operation

In [41]:
# UPDATE TABLE SET COLOUMN_NAME = VALUE
UPDATEANIKULAPORATING = connect.execute("UPDATE MOVIERECOMMENDATION SET RATING = 4 WHERE ID= 1")

In [42]:
UPDATEANIKULAPORATING.fetchall()

[]

In [43]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETALLVALUES = connect.execute("SELECT * FROM MOVIERECOMMENDATION")

In [44]:
GETALLVALUES.fetchall()

[(5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (1, 'Toliat', 'Anikulapo', 'Drama', '4', '02/09/2022'),
 (2, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (3, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (4, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

# DELETE OPERATION

In [45]:
# DELETE FROM TABLE_NAME WHERE COLOUMN_NAME MATCHES OPERATION
INSERTANEWROW= connect.execute("SELECT * FROM MOVIERECOMMENDATION")
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                 VALUES(7,'Anonymous', 'Shaolin Soccer', 'Sport',3, '02/09/2012')");

In [46]:
connect.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (1, 'Toliat', 'Anikulapo', 'Drama', '4', '02/09/2022'),
 (2, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (3, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (4, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020'),
 (7, 'Anonymous', 'Shaolin Soccer', 'Sport', '3', '02/09/2012')]

In [48]:
DELETEANONYMOUS = connect.execute("DELETE FROM MOVIERECOMMENDATION WHERE ID=7  ").fetchall()
print("Row with id=7 has been deleted")

Row with id=7 has been deleted

In [49]:
connect.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (1, 'Toliat', 'Anikulapo', 'Drama', '4', '02/09/2022'),
 (2, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (3, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (4, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]